#filterTextInput {
    width: 100%;
    border-radius: 20px;
    border-color: transparent;
    box-shadow: -2px 2px 10px #fbeed5;
    height:30px;
    outline:none;
    background-color:beige;
}

#filterTextInput:focus{
    outline:none;
}

th {
    font-weight:bold;                                                               
}
table {
    border-collapse: separate;
    width: 100%;
    background-color: transparent;
    box-shadow: -2px 2px 10px black;
    border-radius: 15px;
    color:beige;
}

td,tr {
    border: solid 1px beige;
    border-radius:25px;
}

#SearchBarTable {
    border-spacing: 2px;
    background-color: transparent;
    position: absolute;
}

#image{
    width:3%;
}

#divmove {
    margin-top: -1%;
}